body {
    background-color: black;
}

h1 {
    color: white;
}

div {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
}

p {
    color: white;
    font-size: 1em;
}